<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/home.js"></script>


    </head>
    <body>

        <div class="container">

            <h1 class="text-center" id="main-text">Toronto Waste Lookup</h1>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                            <input type="text" class="form-control" id="keyword" placeholder="keyword...">
                    </div>

                    <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-search">Search</button>
                    </div>
                </div>

                <div class="row top-results">


                </div>
                    
            </div>
        </div>
            
        </body>
    </html>